/* ==============================================================
   DRUPAL ADMIN OVERRIDES
   - Ensures our custom styles do not interfere with Drupal
     admin styles and vice versa.
   ============================================================== */


/* Ensure Contextual Links are the correct color */
.contextual-links a {
  color: #333 !important;
}

/* Provide top padding in Admin to accommodate a fixed header */
body.user-logged-in {}
body.toolbar-tray-open.user-logged-in {}

/* User & Login Pages */
.user-form,
.user-login-form,
.user-pass {
	@extend .container, .padding-vert;
}

/* Tabs */
.nav-tabs {
	margin: 20px 0 0;
	> li {
		> a {
			padding: 5px 10px;
		}
	}
}